<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mpas.mvp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"
        tools:ignore="ManifestOrder" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mpas"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".management.DrawActivity"
            android:exported="false"
            android:label="@string/title_activity_draw"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".management.ManagementActivity"
            android:exported="false" />
        <activity
            android:name=".merchant1.view.TestActivity"
            android:exported="false" />
        <activity
            android:name=".merchant1.view.ManamodiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.cpm.CpmActivity"
            android:exported="false" />
        <activity
            android:name=".merchant1.view.MerchantActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".barcode"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>